<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API Test Suite">
    <test name="Positive Tests">
        <classes>
            <class name="modul.tests.APITestCases">
                <methods>
                    <include name="testPositiveCase" />
                </methods>
            </class>
        </classes>
    </test>
    <test name="Negative Tests">
        <classes>
            <class name="modul.tests.APITestCases">
                <methods>
                    <include name="testNegativeCase" />
                </methods>
            </class>
        </classes>
    </test>
    <test name="Edge Tests">
        <classes>
            <class name="modul.tests.APITestCases">
                <methods>
                    <include name="testEdgeCase" />
                </methods>
            </class>
        </classes>
    </test>
</suite>